#login {
  align-items: center;
  justify-content: center; 
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.h1 {
  font-family: serif;
  font-size: 30px;
  color:#ffffff;
}

/*INPUT COMPONENT STYLES*/
.Input-box-background {
  width: 100%;
  /* Full-width */
  max-width: 400px;
  /* Set a reasonable max width */
  height: 45px;
  padding: 5px;
  /* Comfortable padding */
  font-size: 16px;
  /* Readable text */
  border: 2px solid #ffffff;
  /* Default border */
  border-radius: 8px;
  /* Smooth rounded corners */
  outline: none;
  /* Remove default focus outline */
  /* transition: all 0.3s ease-in-out;/ */
}

.button {
  height: 55px;
  width: 320px;
  display: flex;
  /* Needed for align-items & justify-content */
  align-items: center;
  /* Centers text vertically */
  justify-content: center;
  /* Centers text horizontally */
  background-color: gray;
  /* Black background */
  /* border-radius: 15px; */
  /* Rounded corners */
  font-family: 'sans-serif';
  font-size: 20px;
  color: #ffffff;
  /* White text */
  border: none;
  /* Removes default button border */
  cursor: pointer;
  /* Changes cursor on hover */
  transition: 0.3s ease-in-out;
  /* Smooth hover effect */
}